.loader-dots {
  --loader-size: 12px;
  display: flex;
  gap: calc(var(--loader-size, 12px) * 0.8);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-dots span {
  width: var(--loader-size, 12px);
  height: var(--loader-size, 12px);
  background-color: var(--loader-color);
  border-radius: 50%;
  animation: pulse 1.4s ease-in-out infinite;
}

.loader-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loader-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
}
