.countries-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--country-width), auto));
  align-items: start;
  gap: 25px;
  justify-content: space-between;
}

@media (max-width: 660px) {
  .countries-layout {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}
