.search {
  --input-max-width: 486px;
  --input-height: 56px;

  box-shadow: var(--box-shadow-elements);
  border-radius: var(--border-radius);
  flex: 1 1 0%;
  max-width: var(--input-max-width);
  height: calc(var(--input-height) + 2px);
  max-height: calc(var(--input-height) + 2px);
  display: flex;
  align-items: center;
}

.search.search--show-outline {
  outline: var(--outline-tabbing-focus);
  outline-offset: var(--outline-offset-tabbing-focus);
  border-radius: var(--border-radius);
}

.search__svg {
  height: 20px;
  width: 20px;
  margin: 0 15px;
  pointer-events: none;
  stroke-width: 3;
}

.search__input {
  max-width: 100%;
  width: 100%;
  height: var(--input-height);
  border-radius: var(--border-radius);
  color: inherit;
}

.search__input:focus,
.search__input:focus-visible {
  outline: none;
}

.search__input::placeholder {
  color: inherit;
}

.search__input:disabled::placeholder {
  color: var(--disabled-color);
}

@media (max-width: 660px) {
  .search {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 319px) {
  .search {
    width: max-content;
    max-width: initial;
  }
}
