@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  /* Dark */
  --color-text-dark: hsl(0, 100%, 100%);
  --color-background-dark: hsl(207, 26%, 17%);
  --color-elements-background-dark: hsl(209, 23%, 22%);
  --box-shadow-elements-dark: 0 4px 12px rgba(0, 0, 0, 0.2);
  --scroll-color-dark: hsl(0, 0%, 99%);
  /* Light */
  --color-text-light: hsl(200, 15%, 8%);
  --color-background-light: hsl(0, 0%, 99%);
  --color-elements-background-light: hsl(0, 100%, 100%);
  --box-shadow-elements-light: 0 4px 12px rgba(0, 0, 0, 0.06);
  --scroll-color-light: hsl(208, 26%, 13%);
  /*  */
  --color-input-light: hsl(0, 0%, 50%);
  /*  */
  --header-height: 82px;
  --app-container-margin: 82px;
  --content-max-width: 1440px;
  --country-width: 272px;
  --border-radius: 8px;
  --scroll-color-hover: var(--color-input-light);
  --disabled-color: var(--color-input-light);

  --outline-tabbing-focus: 1px solid var(--outline-tabbing-focus-color);
  --outline-offset-tabbing-focus: 1px;
}

* {
  -webkit-tap-highlight-color: hsl(0 0% 50% / 30%);
  letter-spacing: 0.2px;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: var(--color-text);
  background-color: var(--color-background);

  &.dark-mode,
  &:not(.light-mode) {
    --color-text: var(--color-text-dark);
    --color-background: var(--color-background-dark);
    --color-elements-background: var(--color-elements-background-dark);
    --box-shadow-elements: var(--box-shadow-elements-dark);
    --scroll-color: var(--scroll-color-dark);
    --loader-color: var(--color-background-light);
    --filter-dropdown-item-background-color-hover: var(--color-background-dark);
    --notification-banner-button-background-color: var(--color-background-dark);
    --notification-banner-background-color: var(
      --color-elements-background-dark
    );
    --outline-tabbing-focus-color: var(--color-background-light);
  }

  &.light-mode {
    --color-text: var(--color-text-light);
    --color-background: var(--color-background-light);
    --color-elements-background: var(--color-elements-background-light);
    --box-shadow-elements: var(--box-shadow-elements-light);
    --scroll-color: var(--scroll-color-light);
    --loader-color: var(--color-background-dark);
    --filter-dropdown-item-background-color-hover: #e1e1e1;
    --notification-banner-button-background-color: #e1e1e1;
    --notification-banner-background-color: var(
      --color-elements-background-light
    );
    --outline-tabbing-focus-color: var(--color-background-dark);
  }

  /* --START-- Scrollbar settings --START-- */

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* track - inner area of scrollbar where track is moving */
  &::-webkit-scrollbar-track {
    background: var(--color-elements-background);
    border-left: 1px solid var(--color-background);
    border-radius: var(--border-radius);
  }

  /* thumb - what we click and move by mouse inside scrollbar */
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 10px;
    border: 2px solid transparent; /* border around thumb - prevent thumb be very close to the track */
    background-clip: content-box; /* help apply border property around thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-color-hover);
  }

  /* --END-- Scrollbar settings --END-- */
}

/* --START-- Prevent FOIT, FOUT --START-- */

body {
  .app {
    /* waiting fonts loading - avoid FOUT, FOIT */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.fonts-loaded .app {
    /* fonts loaded - show content */
    opacity: 1;
  }
}

html:not(.fonts-loaded) body {
  /* if fonts not loaded */
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

/* --END-- Prevent FOIT, FOUT --END-- */

body,
#root {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  user-select: none;
}

button,
input {
  letter-spacing: inherit;
  outline: none;
  border: none;
}

:focus-visible {
  outline: var(--outline-tabbing-focus);
  outline-offset: var(--outline-offset-tabbing-focus);
}

@media (max-width: 270px) {
  html {
    overflow-x: auto;
  }
}
